@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --color-text: #f4b0ff;
    --color-primary: #C8ACD6;
    --color-secondary: #363457;
    --color-dark: #2E236C;
    --color-background: #4F1787;

    --font-robot: "Roboto";
}

body {
    font-family: "Outfit", "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text {
    margin-top: 8%;
    font-size: 2.5rem;
    color: var(--color-text);
    position: relative;
}

#animated-text {
    color: var(--color-text);
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
    font-size: 2.5rem;
    display: flex;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: var(--font-robot);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    animation: floating 3s ease-in-out infinite; 
    z-index: 1; 
    position: relative; 
}

@keyframes floating {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.topBlur, .botBlur {
    position: absolute;
    background: var(--color-dark);
    filter: blur(100px);
    z-index: 0;
    transform: translate(-50%, -50%);
}

.topBlur {
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}

.botBlur {
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}

.navibar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    z-index: 2;
    margin: 0 10%;
}

.navibar img {
    width: 200px;
    height: auto; 
    transition: transform 0.3s ease; 
}

.navibar img:hover {
    transform: scale(1.1); 
}

.menu {
    display: flex;
}

.items {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.items a {
    font-size: 1.875rem;
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.items a:hover {
    color: whitesmoke; 
    transform: scale(1.1);
}

@media screen and (max-width: 830px) {
    .navibar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.7rem;
        z-index: 3;
    }

    .items {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
}

.all {
    position: relative;
    background-color: var(--color-secondary);
    border-radius: 15px;
    padding: 3rem;
    margin-top: 12.5rem;
    z-index: 1;
    margin: 0 10%;
    display: flex; 
    align-items: center; 
}

.about {
    color: var(--color-text);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-family: "Roboto";
    margin-bottom: 1.25rem;
    text-align: left;
    width: 100%;
    position: absolute;
    padding-left: 1.25rem;
    top: 2.5rem; 
    left: 62%;
}

.img {
    width: 50%; 
    height: auto;
    margin-right: 10px; 
}

.img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.paragraph {
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: left; 
    margin: 0.3125rem;
    color: whitesmoke;
    width: 50%; 
    padding-left: 1.25rem; 
}

.buttonContainer {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.button {
    background-color: var(--color-primary); 
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px; 
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    padding: 0.625rem 1.25rem;
    position: absolute;
    bottom: 2.5rem;
    left: 65%;
}

.button:hover {
    background-color: var(--color-background); 
    color: white;
}

.projects #projects-container {
    height: fit-content;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.5vw;
    margin-left: 2%;
    margin-right: 2%;
}

.project {
    box-sizing: border-box; 
    padding: 1.875rem;
    border: 2px solid #ddd;
    border-radius: 12px; 
    background: linear-gradient(90deg, var(--color-background) 0%, var(--color-dark) 100%);
    color: white; 
    transition: transform 0.3s, box-shadow 0.3s; 
    margin-top: 20%;
}

.project:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.protitle {
    font-size: 2.5rem; 
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 1.25rem; 
    color: var(--color-text);
    margin-top: 5%;
    position: absolute;
    left: 42%;
}

.tag {
    display: inline-block;
    background: var(--color-dark);
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    color: white; 
}

.visit {
    margin-top: 1.25rem;
}

.visit button {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.625rem 0.9375rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s; 
}

.visit button:hover {
    background-color: var(--color-dark);
    color: white;
}

.seeMore {
    margin-top: 1.875rem; 
    text-align: center;
    width: 100%;
}

.seeMore button {
    padding: 1.25rem 3.375rem; 
    font-size: 1.25rem;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.seeMore button:hover {
    background-color: var(--color-dark);
}

.container {
    color: var(--color-text);
    margin-top: 7.5rem;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 3.625rem 10%;
    gap: 10px;
    overflow-x: hidden;
}

.text {
    flex: 1;
    min-width: 300px;
}

.text h2 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
    color: white;
}

.text p {
    font-size: 1.25rem;
}

@media (max-width: 800px) {
    .text h2 {
        font-size: 2.5rem;
    }

    .text p {
        font-size: 1rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .img {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .text h2 {
        font-size: 2rem;
    }

    .text p {
        font-size: 0.875rem;
    }

    .projects #projects-container {
        grid-template-columns: 1fr;
    }

    .all, .about {
        margin: 0;
        padding: 1rem;
    }
}
