@import "../vars.css";
.all {
    position: relative;
    background-color: var(--color-secondary);
    border-radius: 15px;
    padding: 50px;
    margin-top: 200px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    display: flex; 
    align-items: center; 
}

.about {
    color: var(--color-text);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-family: "Roboto";
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    position: absolute;
    padding-left: 20px;
    top: 40px; 
    left: 62%;
    
}

.img {
    width: 50%; 
    height: auto;
    margin-right: 10px; 
}

.img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.paragraph {
    font-size: 18px;
    line-height: 1.5;
    text-align: left; 
    margin: 5px;
    color: whitesmoke;
    width: 50%; 
    padding-left: 20px; 
}

.buttonContainer {
    margin-top: 20px; /* Space above the button */
}

.button {
    background-color: var(--color-primary); 
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    padding: 10px 20px;
    position: absolute;
    bottom: 65px;
    left: 65%;
}

.button:hover {
    background-color: var(--color-background); 
    color: white;
    
}
