@import "./../vars.css";

.navibar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 71px;
    z-index: 2;
    margin: 0 10%;
}

.navibar img {
    width: 200px;
    height: auto; 
    transition: color 0.3s ease, transform 0.3s ease; 
}

.navibar img:hover {
    color: whitesmoke; 
    transform: scale(1.1); 
}


.menu {
    display: flex;
}

.items {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.items a {
    font-size: 30px;
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; 
}

.items a:hover {
    color: whitesmoke; 
    transform: scale(1.1); 
}

@media screen and (max-width: 830px) {
    .navibar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .logo{
        display: block;
        cursor: pointer;
    }

    .items {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
    }
}