:root {
    --color-text: #f4b0ff;
    --color-primary: #C8ACD6;
    --color-secondary: #363457;
    --color-dark: #2E236C;
    --color-background: #4F1787;

    --font-robot: "Roboto";

    overflow-x: hidden;
}